{% set pageTitle="Edit patient" %}
{% extends "layout.html" %}
{% block head %}
	{{parent()}}		
{% endblock %}


{% block topbar %}
	<form id="back-form" action="/user" method="post" role="form" class="float-right">
		<button type="submit" name="back-submit" id="back-submit" class="form-control btn btn-secondary btn-sm">Back</button>
	</form>
	<form id="logOut-form" action="/logout" method="post" role="form" class="float-right ml-2">
		<button type="submit" name="logOut-submit" id="logOut-submit" class="form-control btn btn-danger btn-sm">Log Out</button>
	</form>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<form id="editpatient-form" action="/patient/save" method="post" role="form" class="col-md-12">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="patientfirstName">First Name</label>
					<input type="text" required name="firstName" id="patientfirstName" tabindex="1" class="form-control" placeholder="First Name"  value="{{patient.firstName}}">
				</div>
				<div class="form-group col-md-6">
					<label for="patientLastName">Last Name</label>
					<input type="text" required name="lastName" id="patientLastName" tabindex="2" class="form-control" placeholder="Last Name"  value="{{patient.lastName}}">
				</div>
				<div class="form-group col-md-6">
					<label for="patientCnp">CNP</label>
					<input type="text" name="cnp" id="patientCnp" tabindex="3" class="form-control" placeholder="CNP" pattern="\d{13}" maxlength="13" readonly value="{{patient.CNP}}">
				</div>
				<div class="form-group col-md-6">
					<label for="patientTelephone">Phone (10 digits)</label>
					<input type="text" required name="telephone" id="patientTelephone" tabindex="4" class="form-control" placeholder="Phone" pattern="\d{10}" maxlength="10"  value="{{patient.telephone}}">
				</div>
				<div class="form-group col-md-6">
					<label for="patientAddress">Address</label>
					<input type="textarea" name="address" id="patientAddress" tabindex="5" class="form-control" placeholder="Address"  value="{{patient.address}}">
				</div>
				<input type="text" hidden name="idPatient" id="idPatient" tabindex="1" class="form-control"  value="{{patient.idPattient}}">

				<div class="form-group col-md-12">
					<button type="submit" name="editpatient-submit" id="saveprofile-submit" tabindex="6" class="form-control btn btn-outline-primary btn-sm">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}